/* El bloque de reset tendrá las siguientes características:
. márgenes, padding, fuente (verdana, sans-serif con tamaño 120% y altura 160%) y fondo con color (#F2F5FE) e imagen (fondo.gif) repetida
en el eje horizontal  */

/* La sección principal tendrá las siguientes características:
  - ancho: 79%
  - relleno de texto superior, derecha, inferior, izquierda de 30px, 10px, 60px y 10px, respectivamente.*/

/*RESET*/
body {
  margin: 0px;
  padding: 0px;
  font: 120% 160% verdana, sans-serif;
  /*pendiente poner anchura y altura de la fuente*/
  background-color: #f2f5fe;
  background-repeat: repeat-x;
  background-image: url("./fondo.gif");
}
/*FIN RESET*/
/* El contenedor tendrá las siguientes características: 
  ancho 80% color de fondo blanco */

/*La cabecera de la página contendrá el título con enlace al directorio del contenido de la página. Las características serán:
Fondo:
Color:#233C9B
Padding: 10px;
Texto:
color de texto: #FFF, fuente georgia, serif y tamaño 260%. Al pasar el mouse por encima tomará el color: #B5C4E3; 
Altura de línea: 35px*/

* {
  border: 1px solid red;
}

#contenedor {
  background-color: white;
  width: 80%;
  margin: auto;
  background-image: none;
  overflow: hidden;
  /*no aplica blackground*/
}

header {
  background: #233c9b;
  color: white;
  font: 260% georgia serif;
  text-decoration: underline;
}
figure {
  width: 200px;
  margin: auto;
}

nav {
  margin: auto;
  width: 900px;
}

nav li {
  display: inline-block;
  background-color: #253575;
  padding: 5px 15px;
  margin: 2px;
}

nav a {
  text-decoration: none;
  color: white;
}
/* Al menú de navegación se le aplicará el siguiente formato: 
  - Estará centrado con respecto a la cabecera
  - los elementos estarán separados por un espacio de 5px
  - la fuente  será 3/4 de la inicial, en negrita y de color #B5C4E3
  - los enlaces no estarán subrayados
  - el cursor tomará la forma de puntero al pasar por encima
  - los elementos tendrán un espacio de relleno de 5px por arriba y abajo y 15px izqda-dcha.
  - El fondo del elemento será #253575
  - Al pasar el mouse por encima adquirirá el color de fondo #31479B;*/

main {
  width: 79%;
  float: left;
  background-image: none;
  background-color: white;
}

img {
  width: 200px;
  height: 200px;
  margin: auto;
}
aside {
  float: right;
  width: 19%;
  background-image: none;
  background-color: white;
  font-size: 0.75em;
}

/* El elemento lateral tendrá las siguientes características:
  - ancho 19%
  - tamaño de fuente de 3/4 de la inicial
*/

footer {
  float: left;
  font-size: 0.75em;
  /* relleno del texto¿?*/
  color: white;
  background-color: #233c9b;
  height: 40px;
  width: 100%;
  text-align: center;
}

/* El pie del documento tendrá las siguientes características: 
  - tamaño de fuente de 3/4 de la inicial 
  - relleno del texto 5px por arriba y abajo 
  - color de la fuente blanco
  - color de fondo: #233C9B 
  - altura del elemento 40px;
*/
