*{    
    font-family: Helvetica, Arial, sans-serif;
    color:whitesmoke;
}
header{
    text-align: center;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
    filter: grayscale(100%);
}
nav{
    ul{
        li{
            display: inline;
            a{
                text-decoration: none;
                color: whitesmoke;
            }
        }
    }
}
main{
    height: 50%;
    
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
footer{
    text-align: center;
    height: 20%;
    background-color: #333;
    display: flex;
    
    justify-content: flex-end;
    h6 {
        margin: auto auto 1em auto;
    }
}
