//  RESET y PROPIEDADES GLOBALES
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;


}

//  LAYOUT DEL DOCUMENTO

header{

    background: url(https://concepto.de/wp-content/uploads/2019/02/paisaje-natural-item-5.jpg);
    filter: grayscale(100%);
    background-repeat: no-repeat;
   
    height: 125px;

        h1{
            margin:0;
            text-align: center;
            color: whitesmoke;
            font-size: 40px;
            padding:15px;
        }
        nav{
   
            ul{
                text-align: center;
    
                }
                li{
                    list-style: none;
                    display: inline-block;
                    font-size: 15px;
         
                    a{
                        color: whitesmoke;
                        text-decoration:none;
                        padding: 5px 5px;
                        margin:0 5px;
                    }
                    a:hover{
                        background-color: #333;
                        opacity: 0.2;
                        filter: drop-shadow(16px 16px 20px #333);

                    }  
            }
        }
}

main{
   
    p{
        position: relative;
        display: inline-block;
        padding: 60px 60px;
        margin:10px 10px;
        border: 1px solid whitesmoke;
        font-size: 40px;
        border-radius: 10px;

        a{            
            text-decoration:none;
            color: whitesmoke;
        }
        
        a:hover{
            background-color:black;
            opacity:0.1;
            filter: drop-shadow(16px 16px 20px #333);
        }
        .alumnes{
            float:left;
            width: 300px;
        }
        .recursos{
            width: 300px;
            float:right;
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-content: end;

    height: 100px;
    background-color: #333;
    color: whitesmoke;
    
    
    font-size:10px;
    p{
        padding:70px 0 0 0;
    }

}

//  DETALLES