//colores

$secondary: whitesmoke;

.container {

    font: {
      family: Helvetica, Arial, sans-serif;
      size: 1.15rem;
    }

    color: $secondary;
    //line-height: 147%;

    .header {

      .title {
        font-size: 5rem;
      }
      .navbar-item a {
        font-size: 1.5rem;
      }
    }

    .main section {
      .handler {
        font-size: 5rem;
      }

      &:hover .handler {
        font-size: 2rem;
      }

    }
    .footer {
      .legal {
        font-size: 0.8rem;
      }
    }

    a {
      color: $secondary;
    }
  }
